body {
    margin: 3%;
    background-color: rgb(182, 156, 230);
}

h1, strong {
    color:red;
}


.sample-btn{
    width: 170px;
    background-color: rgb(225, 225, 8);
    border-radius: 5px;
    border: none;
    padding-top: 25px;
    padding-bottom: 25px;
    color:black;
}

h2{
    color: #fbfbfb;
}

.sample-btn:hover{
    color:white;
    background-color: pink;
}

.ul-lists{
    
    padding: 1% 2% 1% 0%;
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    text-align: center;
}

.ul-lists li {
    
    list-style: none;
}

.ul-lists li a{
    padding-left: 6%;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    font-style: unset;
    
}

.ul-lists li img{
    border-radius: 20%;
    padding-left: 12%;
}

.parent{
    background-color: blueviolet;
    margin:25px;
    padding: 25px;
    border-radius: 8px;
    border: 1px solid royalblue;
    padding: 42px;
}

.apple-main{
    margin:0%;
    border:none;
    padding:0%;
}

.apple-main nav{

    background-color: #484444;
    display: flex;
    justify-content: space-around;
    padding: 1% 3%;
    margin-bottom: 10px;
    /*padding-left:7.5%;
    padding-right:5%;*/
}

.apple-main nav a{
    text-decoration: none;
    color:white;
    /*text-align: center;
    padding: 25px;*/
}

.apple-main nav b{
    text-align: center;
    font-size: 0.9rem;
}

.apple-main .background-sample{

    padding: 10px;
    /*
    background-color: greenyellow;
    background-image: url('Assests/Valorant.jpeg');
    background-position: center;
    background-repeat: no-repeat;*/ 

    background: goldenrod url('Assests/Valorant.jpeg') no-repeat center;
}

.apple-main .background-sample h2{
    color: violet;
}

.media-sample{
    padding:10px;
    border:none;
    background-color: green;
    
}

.media-sample h2{
    color: black
}


@media (max-width: 992px){
    .media-sample{
        background-color: wheat;
    }
}

@media (max-width: 992px) and (min-width: 768px){
    .media-sample{
        background-color: black;
    }

    .media-sample h2, h3{
        color:aliceblue
    }
}

.paytm-site{
    margin:0%;
    padding: 0%;
    background-color: white;
    border-radius: 18px;
}

.paytm-site nav{
    padding: 1.2rem;

    padding-top: 25px;
}

.paytm-site nav a{
    text-decoration: none;
    color:black;
    margin-left: 3%;
}

.paytm-site nav b{
    font-size: 1.2rem;
}

.paytm-site nav img{
    width: 170px;
    vertical-align: middle;
}

.paytm-logo{
    margin-right: 2% !important;
}

.paytm-sign{
    margin-left: 6% !important;
    background-color: #00baf2;
    padding: 12px;
    border-radius: 25px;
}

.paytm-sign b{
    color: aliceblue;
}

.paytm-sign i{
    background-color: #002970;
    border-radius: 50px;
    padding: 8px;
    margin-left: 5px;
    color: white;
}

.paytm-sign:hover{
    background-color: #002970;
}

.paytm-sign:hover i{
    background-color: #00baf2;
}

.paytm-kyc{
    display: flex;
    background-color: #484444;
    color: white;
    justify-content:center;
}

.paytm-kyc p{

    font-size: 1rem;
}

.paytm-kyc i{
    padding-top: 1.1%;
    margin: 0px 4px 0px 4px;
}

.paytm-kyc b{
    padding-top: 0.9%;
    padding-left: 2px;
}

.paytm-home{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 5%;
}

.paytm-home .home-left {
    margin-left: 1.8%;
    padding: 2%;
    margin-right: 5%;
}

.paytm-home .home-left img{
    max-width: 100px;
    height: auto;
}

.paytm-home .home-left h1{
    color:black;
    font-size: 3.7rem;
}

.paytm-home .home-left p{
    color:black;
    font-size: 1.3rem;
    text-align: justify;
}

.paytm-home img {
    width: 60%;
    height: 60%;
    position: relative;
}

.recharge
{
    display: block;
    overflow:auto;
    background:#00baf2;
    margin: auto;
    width: 100%;
    height: 324px;
    padding: 65px 0;
    overflow: scroll;
    scrollbar-color: #00baf2;
}

.recharge h1
{
    font-size: 36px;
    color: #fff;
    margin-left: 110px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.recharge .flex7
{
    display: flex;
    width: 1260px;
    height: 183px;
    margin-top: 25px;
    margin-left: 110px;
    overflow-x: hidden;
}

.recharge .flex7 .box1
{
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-right: -1px;
    margin-bottom: 14px;
    cursor: pointer;
    border-radius: 12px;
    padding: 16px 11px 16px 16px;
    justify-content: space-between;
    font-size: 17px;
    color: #fff;
    font-weight: 500;
    line-height: 25px;
}

.recharge .flex7 .box1 img
{
    width: 64px;
    margin-bottom: 17px;
    background: #fff;
    border-radius: 100%;
}

.recharge .flex7 :hover
{
    background: #00a4e3;
    margin-bottom: -20px;
    transition: all .2s ease-in-out;
}

.instrument
{
    display: block;
    position: relative;
    width: 1530.4px;
    height: 761px;
    background: #f5f7fa;
    padding-top: 120px;
    padding: 1 0 48px;
}

.instrument h1
{
    width: 1170px;
    margin: 0 auto 35px;
    font-size: 48px;
    color: #000;
    font-weight: 700;
    line-height: 50px;
}

.instrument .ban1
{
    display: block;
    width: 1170px;
    height: 620px;
    background: #fff;
    margin: auto;
    z-index: 1;
    position: relative;
    border-radius: 10px;
}

.instrument .ban1 .fast
{
    display: flex;
    width: 1170px;
    height: 620px;
    align-items: center;
    /* justify-content: space-between; */
    padding: 80px 50px 80px 115px;
}

.instrument .ban1 .fast .wallet
{
    display: block;
    width: 45%;
    font-size: 16px;
    font-weight: 700;
    margin-top: -155px;
}

.instrument .ban1 .fast .wallet .wallie
{
    width: 175px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.instrument .ban1 .fast .wallet .wallie img
{
    height: 77px;
    width: auto;
    padding-right: 12px;
}

.instrument .ban1 .fast .wallet2
{
    display: block;
    margin-top: 48px;
    font-size: 36px;
    font-weight: 600;
    line-height: 46px;
}

.instrument .ban1 .fast .wallet2 h1
{
    margin-top: 48px;
    /* width: 390px; */
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 0;
}

.instrument .ban1 .fast .wallet2 span
{
    padding: 24px 0 30px;
    display: block;
    font-size: 17px;
    font-weight: 500;
    line-height: 26px;
}


.instrument .ban1 .fast .wallet .downloadpay
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    line-height: 1px;
    padding: 0 24px;
    margin-top: 6px;

    width: 253.29px;
    height: 45.6px;
    border: 1px solid black;
    border-radius: 50px;

    background: black;
    color: white;
    font-weight: 500;
    font-size: 15px;
}
.downloadpay:hover{
    background-color: rgba(255,255,255,1);
    cursor: pointer;
}

.paybank
{
    /* display: block; */
    display: flex;
    justify-content: space-between;
    background: #f5f7fa;
    width: 100%;
    height: 728px;
    margin: auto;
    padding: 0 0 130px;
    /* flex-direction: row; */
}

.paybank .bank1
{
    display: block;
    background: #fff;
    border-radius: 16px;
    padding: 70px 64px 0;
    margin-right: 48px;
    margin-left: 180px;
    position: relative;
    width: 561px;
    height: 630px;
}

.paybank .bank1 h1
{
    padding-top: 28px;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #000;
}

.paybank .bank1 p
{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.paybank .bank2
{
    display: block;
    background: #fff;
    border-radius: 16px;
    padding: 70px 64px 0;
    margin-right: 208px;
    position: relative;
    width: 561px;
    height: 630px;
}

.paybank .bank2 h1
{
    padding-top: 28px;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #000;
}

.paybank .bank2 p
{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.finance
{
    background: #fff;
    position: relative;
    display: block;
    padding: 0 0 48px;
}

.finance h1
{
    padding-top: 120px;
    width: 1170px;
    margin: 0 auto 35px;
    font-size: 48px;
    color: #000;
    font-weight: 700;
    line-height: 50px;
}

.sincere
{
    display: block;
    background: #fff;
    padding-bottom: 72px;
    border-radius: 10px;
    width: 1170px;
    margin: auto;
    z-index: 1;
    position: relative;
}

.sincere .finger
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 !important;
}

.sincere .finger .fingerleft
{
    display: block;
    width: 40%;
    font-size: 16px;
    font-weight: 700;
}

.sincere .finger .fingerleft h1
{
    display: block;
    margin-top: -75px;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
}

.sincere .finger .fingerleft p
{
    padding-top: 12px;
    display: block;
    width: 515px;
    margin-bottom: 45px;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
}

.sincere .finger .fingerleft span
{
    background: #002970;
    padding: 16px 24px;
    border-radius: 25px;
    width: 120px;
    cursor: pointer;
    position: relative;
    display: flex;
    font-size: 17px;
    color: #fff;
    font-weight: 500;
    line-height: 18px;
}

/* ========================================================== */
.finance2
{
    background: #f5f7fa;
    background-image: url("./assets/asset 32.avif");
    background-size: cover;
    position: relative;
    display: block;
    padding: 0 0 48px;
}

.sincere2
{
    display: block;
    background: transparent;
    padding-bottom: 72px;
    border-radius: 10px;
    width: 1170px;
    margin: auto;
    z-index: 1;
    position: relative;
}

.sincere2 .finger2
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 !important;
}

.sincere2 .finger2 .fingerright
{
    display: block;
    width: 40%;
    font-size: 16px;
    font-weight: 700;
    margin-top: 110px;
}

.sincere2 .finger2 .fingerright h1
{
    display: block;
    margin-top: 23px;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
}

.sincere2 .finger2 .fingerright p
{
    padding-top: 12px;
    display: block;
    width: 515px;
    margin-bottom: 45px;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
}

.sincere2 .finger2 .fingerright span
{
    background: #002970;
    padding: 16px 24px;
    border-radius: 25px;
    width: 120px;
    cursor: pointer;
    position: relative;
    display: flex;
    font-size: 17px;
    color: #fff;
    font-weight: 500;
    line-height: 18px;
}

.business
{
    display: block;
    background: #fff;
    width: 1170px;
    margin: auto;
    padding: 50px 0;
}

.business h1
{
    padding-bottom: 89px;
    width: 480px;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.business .smallbox
{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.business .smallbox .sbox1
{
    display: block;
    width: 21.5%;
    margin-right: 70px;
}

.business .smallbox .sbox1 h1
{
    display: block;
    padding: 40px 0 20px;
    font-size: 26px;
    font-weight: 700;
    line-height: 32px;
}

.business .smallbox .sbox1 p
{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.wealth
{
    width: 1170px;
    margin-left: auto;
    margin-right: auto;

    background: #fff;
    border-radius: 10px;
    padding: 60px 0 60px 60px;
    margin-bottom: 33px;
    display: flex;
}

.wealth .wealthleft
{
    width: 200px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.wealth .wealthleft img
{
    display: flex;
    align-items: center;
    width: 160px;
    height: 58px;
    padding-right: 10px;
}

.wealth .wealthleft p
{
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
}

.wealth .rightwealth
{
    /* display: block; */
    width: 870px;
    position: relative;

    display: flex;
    overflow: scroll;
    white-space: nowrap;
}

.wealth .rightwealth .wbox1
{
    padding-right: 36px;
    white-space: nowrap;
}

.wealth .rightwealth .wbox2
{
    border-radius: 10px;
    background: #00baf2;
    opacity: .7;
    padding: 5px 0;
    white-space: normal;
    text-align: center;
    cursor: pointer;
    width: 155px;
    height: 230px;
    min-width: 155px;
    min-height: 230px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wealth .rightwealth .wbox2 img
{
    overflow: hidden;
    border-radius: 6px;
    z-index: 1;
    width: 145px;
    height: 158px;
    transition: .3s;
}

.wealth .rightwealth .wbox2 span
{
    padding: 16px 0;
    display: block;
    width: 114px!important;
    font-size: 17px;
    color: #fff;
    font-weight: 700;
}

.wealth .rightwealth .wbox2:hover
{
    opacity: 1;
}

/* ============ Footer =========================== */
.div18 h3 
{
    padding-top: 7%;
    padding-left: 6%;
    padding-right: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.div18 
{
    display: flex;
    background: #f5f7fa;;
}
.div18 a 
{
    padding-top: 6%;
    padding-right: 1%;
}
.div18 div 
{
    display: flex;
    padding-top: 6.5%;
    padding-left: 30%;
    font-size: 1.5rem;
}
.div18 div a 
{
    color: grey;
    padding-left: 70%;
}
  .line{
    padding:0% 40.1%;
    border-width:1px;
    border-color:rgba(0,0,0,0.4);
    border-bottom-style:solid;
    margin-left:1%;
  }
  .div19{
    padding:6% 2% 10% 5%;
  }
  .l1{
    margin:0%;
    padding:0.5%;
    background-color:rgb(2, 191, 253);
  }
  .l2{
    margin:0%;
    padding:0.5%;
    background-color:rgb(1, 1, 110);
  }


  
